@namespace OWolverine.Models.StarMapViewModels
@model StarIndexViewModel
@{
    ViewData["Title"] = "Stellar View";
}

<h1>星圖</h1>
@{
    Html.RenderPartial("SearchFormView", Model.SearchViewModel);
}
<hr />
<div class="row">
    <div class="col-xs-12">
        <span style="color:red">@(Model.Players.Count <= 0 && Context.Request.HttpContext.Request.Method == "POST" ? "Player not found" : "")</span>
    </div>
</div>
<!-- Server status -->
@foreach (var player in Model.Players)
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-@player.Id">@player.Name</a>
                </h4>
            </div>
            <div id="collapse-@player.Id" class="panel-collapse @(Model.Players.Count <= 3 ? "" : "collapse")">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => player.Planets[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => player.Planets[0].Coord)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => player.Planets[0].Moon)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var planet in player.Planets)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => planet.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => planet.Coord)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => planet.Moon.Name)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">@(player.Alliance == null ? "N/A" : @player.Alliance.Name + " - " + @player.Alliance.Tag)</div>
            </div>
        </div>
    </div>
}

<!-- Server status -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Servers[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servers[0].Universe.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servers[0].ActivePlayers) / @Html.DisplayNameFor(model => model.Servers[0].Universe.Players)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servers[0].MapUpdateDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servers[0].LastUpdate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Servers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Universe.Speed) / @Html.DisplayFor(modelItem => item.Universe.FleetSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivePlayers) / @Html.DisplayFor(modelItem => item.Universe.Players.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MapUpdateDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
            </tr>
        }
    </tbody>
</table>
