@model IEnumerable<OWolverine.Models.Ogame.Universe>
@{
    ViewData["Title"] = "Stellar View";
}

<h1>星圖</h1>
<div class="row">
    <div class="col-md-12">
        <form class="form-inline" id="player-request-form">
            <div class="form-group">
                <label for="server-name">伺服器：</label>
                <select id="server-name" class="form-control">
                    <option value="s101-tw.ogame.gameforge.com">
                        Andromeda
                    </option>
                    <option value="s115-tw.ogame.gameforge.com">
                        Orion
                    </option>
                    <option value="s116-tw.ogame.gameforge.com">
                        Pegasus
                    </option>
                    <option value="s117-tw.ogame.gameforge.com">
                        Quantum
                    </option>
                    <option value="s118-tw.ogame.gameforge.com">
                        Rigel
                    </option>
                    <option value="s119-tw.ogame.gameforge.com" selected>
                        Sirius
                    </option>
                    <option value="s120-tw.ogame.gameforge.com">
                        Taurus
                    </option>
                    <option value="s121-tw.ogame.gameforge.com">
                        Ursa
                    </option>
                    <option value="s122-tw.ogame.gameforge.com">
                        Vega
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="user-name">玩家名稱：</label>
                <input type="text" class="form-control" id="user-name" value="" />
            </div>
            <button type="submit" class="btn btn-default" id="player-request">諮詢</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Show Output -->
        <div id="query-result"></div>
    </div>
</div>

<!-- Server status -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                Active / Players
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed) / @Html.DisplayFor(modelItem => item.FleetSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Players.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                <a asp-action="Refresh" asp-route-id="@item.Id">Refresh</a>
            </td>
        </tr>
        }
    </tbody>
</table>
