@namespace OWolverine.Models.StarMapViewModels
@model StarIndexViewModel
@{
    ViewData["Title"] = "Stellar View";
}

<h1>Stellar View</h1>
@{
    Html.RenderPartial("SearchFormView", Model.SearchViewModel);
}
<hr />
@if (Model.IsSearch && Model.Players.Count <= 0)
{
    <div class="row">
        <div class="col-xs-12">
            <span style="color:red">Player with criteria not found.</span>
        </div>
    </div>
}

<!-- Planet List -->
@if (Model.Planets.Any())
{
    <h4>Results: @Model.Planets.Count</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Planets[0].Coord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Planets[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Planets[0].Moon)
                </th>
                <th>
                    Player
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Players[0].Alliance)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Planets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Moon.Name)
                    </td>
                    <td>
                        <a href="#player-@item.OwnerId">@Html.DisplayFor(modelItem => item.Owner.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner.Alliance.Tag) - @Html.DisplayFor(modelItem => item.Owner.Alliance.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Player List -->
@if (Model.Players.Any())
{
    <h4>Results: @Model.Players.Count</h4>
    @foreach (var player in Model.Players)
    {
        <div class="panel-group" id="player-@player.Id">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse-@player.Id">
                            @player.Name
                            @player.StatusText
                            | Ship Score:  @player.ScoreShip <span style="color:@(player.ScoreShipDiff > 0 ? "#00B300":"red")">(@(player.ScoreShipDiff > 0 ? "+" : "")@player.ScoreShipDiff)</span>
                            | Ships: @player.ShipNumber
                            | Player Style: @player.Style
                            <span class="pull-right">Snapshot time: @(player.SnapshotDiff) | Last update: @(player.LastUpdate)</span>
                        </a>
                    </h4>
                </div>
                <div id="collapse-@player.Id" class="panel-collapse @(Model.Players.Count == 1 ? "" : "collapse")">
                    <div class="panel-body">
                        Score Total: @player.ScoreTotal <span style="color:@(player.ScoreTotalDiff > 0 ? "#00B300":"red")">(@(player.ScoreTotalDiff > 0 ? "+" : "")@player.ScoreTotalDiff)</span>
                        | Military: @player.ScoreMilitary <span style="color:@(player.ScoreMilitaryDiff > 0 ? "#00B300":"red")">(@(player.ScoreMilitaryDiff > 0 ? "+" : "")@player.ScoreMilitaryDiff)</span>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => player.Planets[0].Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => player.Planets[0].Coord)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => player.Planets[0].Moon)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var planet in player.Planets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => planet.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => planet.Coord)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => planet.Moon.Name)
                        </td>
                    </tr>
}
                                </tbody>
                            </table>
                    </div>
                    <div class="panel-footer">@(player.Alliance == null ? "N/A" : @player.Alliance.Name + " - " + @player.Alliance.Tag)</div>
                </div>
            </div>
        </div>
    }
}

<!-- Server status -->
@if (!Model.IsSearch)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Servers[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servers[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servers[0].Universe.Speed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servers[0].ActivePlayers) / @Html.DisplayNameFor(model => model.Servers[0].Universe.Players)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servers[0].Moons) / @Html.DisplayNameFor(model => model.Servers[0].Universe.Planets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servers[0].MapUpdateDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servers[0].LastUpdate)
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Servers)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Universe.Speed) / @Html.DisplayFor(modelItem => item.Universe.FleetSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivePlayers) / @Html.DisplayFor(modelItem => item.Universe.Players.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moons) / @Html.DisplayFor(modelItem => item.Universe.Planets.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MapUpdateDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    <a href="/StellarView/UpdateScoreBoard/@item.Id">Update Scoreboard</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}