@namespace OWolverine.Models.StarMapViewModels
@model StarSearchViewModel
<div class="row">
    <div class="col-md-12">
        <form asp-action="Search" class="form-inline" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServerId"></label>
                <select asp-for="ServerId" asp-items="@(new SelectList(Model.Servers, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="ServerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerName"></label>
                <input asp-for="PlayerName" class="form-control" placeholder="" value="@Model.PlayerName" />
            </div>
            <button type="submit" class="btn btn-default" id="player-request">諮詢</button>
            <div id="div--advance-search">
                <a href="#" data-toggle="collapse" data-target="#advance-search">Advance [+]</a>
                <div id="advance-search" class="collapse">
                    <div class="form-group">
                        <label asp-for="PlayerStatus"></label>
                        <label class="checkbox-inline">
                            <input asp-for="PlayerStatus.IsBanned" /> @Html.DisplayNameFor(model => model.PlayerStatus.IsBanned)
                        </label>
                        <label class="checkbox-inline">
                            <input asp-for="PlayerStatus.IsFlee" /> @Html.DisplayNameFor(model => model.PlayerStatus.IsFlee)
                        </label>
                        <label class="checkbox-inline">
                            <input asp-for="PlayerStatus.IsInactive" /> @Html.DisplayNameFor(model => model.PlayerStatus.IsInactive)
                        </label>
                        <label class="checkbox-inline">
                            <input asp-for="PlayerStatus.IsLeft" /> @Html.DisplayNameFor(model => model.PlayerStatus.IsLeft)
                        </label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Coords"></label>
                        <input asp-for="Coords.Galaxy" class="form-control location-input" max="9" min="0" /> :
                        <input asp-for="Coords.System" class="form-control location-input" max="499" min="0" /> :
                        <input asp-for="Coords.Location" class="form-control location-input" max="15" min="0" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Range"></label>
                        <input asp-for="Range" class="form-control location-input" max="499" min="0" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MoonLevel"></label>
                        <input asp-for="MoonLevel" class="form-control location-input" min="0" />
                    </div>
                    <br />
                </div>
            </div>
        </form>
    </div>
</div>